/* Colors */
$mainBG: rgb(244, 244, 244);
$faded: rgba(111, 111, 111, 0.616);
$normalShd: rgba(128, 128, 128, 0.619);

/* Fonts */
$baseFont: "Open Sans", sans-serif;

$baseFz: 1rem;
$smFz: $baseFz * 0.75;
$lgFz: $baseFz * 1.5;
$xlFz: $baseFz * 2;
$xxlFz: $baseFz * 2.3;

/* widths */
$container: 90%;

/* borders */

$borderRad: 5px;
